.first-image{
  max-width: 100%;
  margin-left: 100;
  margin-right: 100px;
  padding-top: 100px;
}

.welcome{
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('a.jpeg'); /* Replace with your actual image URL */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

section {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  align-items: center;
}

section img {
  max-width: 50%;
  border-radius: 5px;
  margin-right: 20px;
}

section div {
  flex-grow: 1;
}

section:last-child {
  margin-bottom: 20px; /* Adjust the margin-bottom as needed */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em; 
  bottom: 0;
  width: 100%;
}